<div class="row card m-3 shadow">
    <h1>Experiencia</h1>
        <div>  
            <ul>
                <div class="card p-5 m-4 col-xs-12 col-md-6">
                    <li>
                        <h2>Argentina Programa</h2>
                        <h3>Años</h3>
                        <h4>Lugar</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </li>
                </div>
                <div class="card p-5 m-4 col-xs-12 col-md-6">
                    <li>
                        <h2>Argentina Programa</h2>
                        <h3>Años</h3>
                        <h4>Lugar</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        </p>
                    </li>
                </div>
                </ul>

        </div>
</div>
