
<div class="row logo">
    <div class="col-xs-6 col-md-6 col-lg-12 menu_items">
        <a href="#"><img src="../../../assets/imagenes/facebook.png" alt=""></a>
            <a href="#"><img src="../../../assets/imagenes/github.png" alt=""></a>
                <a href=""><img src="../../../assets/imagenes/instagram.png" alt=""></a>
            <a href=""><img src="../../../assets/imagenes/linkedin.png" alt=""></a>
            <button class="btn btn-outline-light m-3">Login</button>
            
            
            <fa-icon [icon]="faBars"></fa-icon>
    </div>
</div>

