div img{
    width: 50px;
    padding: 10px 3px;
    margin-right: 5px;
}
fa-icon{
    color: aqua;
    padding: 10px;
    cursor: pointer;
    display: none;
}
ul.show {
    top: 65px;
}
@media screen and (max-width: 952px) {
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }

       
}