<div class="row card m-3 shadow">

    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">
    <circle-progress class="col"
    [percent]="(skill.porcentaje)"
    [radius]="100"
    [imageSrc]="''"
    [title]="(skill.nombre)"
    [showTitle]="true"
    [showImage]="false"
    [titleColor]="'#0000FF'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1a94d1'"
    [innerStrokeColor]="'#f04c4c'"
    [animation]="true"
    [animationDuration]="300"
    [outerStrokeColor]="'#61A9DC'"
    [backgroundGradientStopColor]="'#f7f3f3'"
    [backgroundGradient]="false"
  ></circle-progress>
    <div>
      <button>     
        <td *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">  
            <i class="bi bi-pencil-fill"></i></button>
      </td>
      
      <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(skill.id)">
            <i class="bi bi-trash"></i></button>
      </td></button>
    </div>
</div>
</div>