<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/IMG_20220310_165718.jpg" class="img-fluid border border-3 rounded-circle" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre"><strong>{{persona.nombre}}{{persona.apellido}}</strong></h4>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Hola Soy Federico! Desarrollador Web. Este es mi portafolio personal que con mucho esfuerzo logre terminar para Argentina Programa.
                Aca encontraras mis datos personales y mis habilidades de desarrollo. Me apasiona la parte de la estetica de paginas(todo lo que se ve de una pagina),la informatica(armado de pc's) y la musica(soy bajista!).Espero les guste!
            </p>
        </span>
    </div>
</div>
