<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/IMG_20220310_165718.jpg" class="img-fluid border border-3 rounded-circle" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre"><strong>{{persona.nombre}}{{persona.apellido}}</strong></h4>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi placeat consectetur aperiam optio porro delectus corporis voluptates modi ipsa magni, incidunt est illum eos aliquam, ea cum voluptatibus dolor, corrupti saepe!
            </p>
        </span>
    </div>
</div>
